In [1]:
import pyspark
from pyspark import SparkContext

In [2]:
sc=SparkContext()

In [4]:
input=sc.textFile('C:/Users/Admin/Desktop/pyspark/people.txt')

In [5]:
input

C:/Users/Admin/Desktop/pyspark/people.txt MapPartitionsRDD[1] at textFile at NativeMethodAccessorImpl.java:0

In [11]:
from pyspark.sql import SparkSession

In [12]:
from pyspark.sql.types import *

In [14]:
spark=SparkSession.builder.config("spark.some.config.option","some-value").getOrCreate()

In [15]:
df=spark.read.json('C:/Users/Admin/Desktop/pyspark/people.json')

In [16]:
df

DataFrame[age: bigint, name: string]

In [17]:
df.head(3)

[Row(age=None, name='Michael'),
 Row(age=30, name='Andy'),
 Row(age=19, name='Justin')]

In [18]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [19]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [20]:
df.select("name").show()

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

In [21]:
df.select(df["name"],df["age"]+1).show()

+-------+---------+
|   name|(age + 1)|
+-------+---------+
|Michael|     null|
|   Andy|       31|
| Justin|       20|
+-------+---------+

In [24]:
df2=df.select(df["name"],df["age"]+1).show()

+-------+---------+
|   name|(age + 1)|
+-------+---------+
|Michael|     null|
|   Andy|       31|
| Justin|       20|
+-------+---------+